<web-app>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/registerServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Search</servlet-name>
		<servlet-class>Search</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/searchServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Request</servlet-name>
		<servlet-class>Request</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Request</servlet-name>
		<url-pattern>/requestServlet</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>register.html</welcome-file>
	</welcome-file-list>
</web-app>